<div class="p-5">
    <form [formGroup]="playerForm" (ngSubmit)="onSubmit()" data-testid="form">
        <div class="mb-3">
          <label for="nameInputPlayer" class="form-label">Name</label>
          <input data-testid="nameInputPlayer" type="text" class="form-control" formControlName="name" id="nameInputPlayer">
        </div>
        <div class="mb-3">
          <label for="inputValuePlayer" class="form-label">Value</label>
          <input data-testid="inputValuePlayer" type="number" class="form-control" formControlName="value" id="inputValuePlayer">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
