<div class="d-flex flex-column mt-2 p-5">
    <h3 class="mb-5">Select Items</h3>
    <div class="d-flex flex-row">
        <div data-testId="itemPlayer" *ngFor="let player of players" class="d-flex flex-column border p-2 rounded me-2" >
            <h4 data-testId="name">{{ player.name }}</h4>
            <p data-testId="value">{{ player.value | currency : 'THB':'symbol-narrow'}}</p>
            <button data-testId="addPlayer" type="button" (click)="addPlayer(player)" class="btn btn-primary">Select</button>
        </div>
    </div>
</div>